<% include header %>
<% include navigation %>

<div id="section">

<div>
    <h2>Enter Availability</h2>
    <p style="color:black"><Fill out this form to enter availabitity.</p>
</div>

<style>
#sep {
    height: 2px;
    background: #D1F0FF;
    width: 1300px;
    margin: 0px -25px;
}
</style>

<div id="sep"> </div>
<br>
<br>






<head>
<style>
table {
    width:100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th    {
    background-color: black;
    color: white;
}
</style>
</head>


<body>


 <% if(rs.length > 0) { %> 


<div id="form">
<form method="POST" action="viewAvailability">
<select name="employee">
<% for (var i=0; i < employees.length; i++) { %>
   <option value="<%= employees[i].e_SSN %>"> <%= employees[i].e_FN +" " +  employees[i].e_LN %>   </option>
<% }%>
</select>
<table>

    <tr>
    <th colspan="3">Sunday</th>
    <th colspan="3">Monday</th>
    <th colspan="3">Tuesday</th>
    <th colspan="3">Wednesday</th>
    <th colspan="3">Thursday</th>
    <th colspan="3">Friday</th>
    <th colspan="3">Saturday</th>
    </tr>

 <% for (var i=0; i < rs.length; i++) { %>

<tr>
<% for (var j = 0; j < 7; j++) { %>   
     <td> <%= formatTime(rs[i].a_StartTime) %> </td>
     <td> <%= formatTime(rs[i].a_EndTime) %> </td>
     <td><input type="checkbox" id="e_SSN" value="<%=String(j*6 +i + 1)%>" name="shifts" /></td>             
     
<% }%>
     </tr>

<% }%>
</table>
  <% } else { %>
        Manager has not entered any shifts to work.
  <% } %>

    <br>
    <input type="submit" value="Submit Availability">
    <input type="reset" value="Clear Form">
</form>



</div>
</div>
<% include footer %>
